.container {
    background-color: white;
    grid-area: container;
    display: grid;
    grid-template-columns: 1fr 4fr 4fr 4fr 4fr 1fr;
    grid-template-rows: 1.5fr auto 1.5fr 5fr 1.5fr auto 1.5fr;
    grid-template-areas:
        '. . . . . .'
        '. title title title title .'
        '. . . . . .'
        '. b_1 b_2 b_3 b_4 .'
        '. . . . . .'
        '. c_main c_main c_main c_main .'
        '. . . . . .';
}
.title {
    grid-area: title;
    display: grid;
}
.title_text {
    margin: 20px;
    justify-self: center;
    align-self: center;
    font-size: 7vw;
}
.button_main {
    text-align: center;
    display: grid;
}
.main_button {
    justify-self: center;
    align-self: center;
    width: 80%;
    font-size: 2vw;
    border-radius: 10em;
    padding: 0.5vh;
}
.danger {
    background-color: #ff5252;
}
.button_profile {
    grid-area: b_1;
}
.button_map {
    grid-area: b_2;
}
.button_3 {
    grid-area: b_3;
}
.button_logout {
    grid-area: b_4;
}
.content_main {
    grid-area: c_main;
}