* {
    margin: 0;
    padding: 0;
}
body {
    background-image: url('../img/earth.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: Gill Sans, sans-serif;
    font-variant: small-caps;
    display: grid;
    grid-template-columns: 0.5fr 9fr 0.5fr;
    grid-template-rows: 1fr;
    grid-template-areas:
        '. container .';
}