.container {
    background-color: white;
    grid-area: container;
    display: grid;
    grid-template-columns: 1fr 16fr 1fr;
    grid-template-rows: 1.5fr auto 1.5fr 5fr 1.5fr auto 1.5fr;
    grid-template-areas:
        '. . .'
        '. title .'
        '. . .'
        '. btnss .'
        '. . .'
        '. c_main .'
        '. . .';
}
.title {
    grid-area: title;
    display: grid;
}
.btnss {
    grid-area: btnss;
    grid-template-columns: 1fr 0.2fr 1fr 0.2fr 1fr 0.2fr 1fr;
    grid-template-rows: 1fr; 
    display: grid;
    grid-template-areas:
        'b_1 . b_2 . b_3 . b_4'
}
.title_text {
    margin: 20px;
    justify-self: center;
    align-self: center;
    font-size: 7vw;
}
.button_profile {
    grid-area: b_1;
}
.button_map {
    grid-area: b_2;
}
.button_3 {
    grid-area: b_3;
}
.button_logout {
    grid-area: b_4;
}
.content_main {
    grid-area: c_main;
}