.container {
    background-color: white;
    grid-area: container;
    display: grid;
    grid-template-columns: 1fr 4fr 4fr 4fr 4fr 1fr;
    grid-template-rows: 1.5fr auto 1.5fr 5fr 1.5fr auto 1.5fr;
    grid-template-areas:
        '. . . . . .'
        '. title title title title .'
        '. . . . . .'
        '. b_prof b_map b_test b_logo .'
        '. . . . . .'
        '. c_main c_main c_main c_main .'
        '. . . . . .';
}
.title {
    grid-area: title;
    display: grid;
}
.title_text {
    margin: 20px;
    justify-self: center;
    align-self: center;
    text-shadow: 0 1px 0 #ccc,
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
    font-size: 7vw;
}
.button_main {
    text-align: center;
    display: grid;
}
.button_main button {
    justify-self: center;
    align-self: center;
    width: 80%;
    font-size: 2vw;
    border-radius: 10em;
}
.button_profile {
    grid-area: b_prof;
}
.button_map {
    grid-area: b_map;
}
.button_3 {
    grid-area: b_test;
}
.button_logout {
    grid-area: b_logo;
}
.content_main {
    grid-area: c_main;
}
tr:nth-child(even) {
    background-color: #00f0f0;
}
.table_main {
    width: 100%;
}