.container {
    background-color: white;
    grid-area: container;
    display: grid;
    grid-template-columns: 1fr 4fr 4fr 4fr 4fr 1fr;
    grid-template-rows: 1.5fr auto 1.5fr 5fr 1.5fr auto 1.5fr;
    grid-template-areas:
        '. . . . . .'
        '. title title title title .'
        '. . . . . .'
        '. b_1 b_2 b_3 b_4 .'
        '. . . . . .'
        '. c_main c_main c_main c_main .'
        '. . . . . .';
}
.title {
    grid-area: title;
    display: grid;
}
.title_text {
    margin: 20px;
    justify-self: center;
    align-self: center;
    font-size: 7vw;
}
.button_main {
    text-align: center;
    display: grid;
}
.main_button {
    justify-self: center;
    align-self: center;
    width: 80%;
    font-size: 2vw;
    border-radius: 10em;
    padding: 0.5vh;
}
.danger {
    background-color: #ff5252;
}
.button_profile {
    grid-area: b_1;
}
.button_map {
    grid-area: b_2;
}
.button_3 {
    grid-area: b_3;
}
.button_logout {
    grid-area: b_4;
}
.content_main {
    grid-area: c_main;
}
.table_main {
    width: 100%;
    border-width: 0;
}
.table_title {
    margin: 1vh;
    font-size: 4vw;
}
.table_main th {
    margin: 1vh;
    padding: 1vh;
    font-size: 2vw;
}
.table_main td {
    text-align: center;
    font-size: 1.4vw;
    margin: 0.3vh;
}
.table_main tr:nth-child(even) {
    background-color: #3EA4E8;
}