{% extends 'base.html' %}

<!-- JS -->
{% block basejs %}
{% block js %}{% endblock %}
{% endblock %}

<!-- CSS -->
{% block basecss %}
<link href="{{ url_for('static', filename='css/main_index.css') }}" rel="stylesheet" />
{% block css %}{% endblock %}
{% endblock %}

<!-- BODY -->
{% block basebody %}
<div class="container">
    <div class="title">
        <p class="title_text shadow">Trackmaster</p>
    </div>
    <div class="button_main button_profile">
        {% block b1 %}{% endblock %}
    </div>
    <div class="button_main button_map">
        {% block b2 %}{% endblock %}
    </div>
    <div class="button_main button_3">
        {% block b3 %}{% endblock %}
    </div>
    <div class="button_main button_logout">
        <form action="{{url_for('main.logout')}}" method="GET">
              <button class="main_button danger">Log out</button>
        </form>
    </div>
    {% block body %}{% endblock %}
</div>
{% endblock %}



