<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="author" content="">
    {% block basejs %}{% endblock %}
    <title>{% block title %}{% endblock %}</title>
    <link href="{{ url_for('static', filename='css/base.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='css/base.css') }}" rel="stylesheet" />
    {% block basecss %}{% endblock %}
</head>
<body>
    {% block basebody %}{% endblock %} 
</body>


</html>