<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="author" content="">
    {% block basejs %}{% endblock %}
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/buttons.css') }}"/>
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
    {% block basecss %}{% endblock %}
</head>
<body>
    {% block basebody %}{% endblock %} 
</body>


</html>