<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>Trackmaster</title>
    <!--     <link rel="stylesheet" href="css/global.css"> -->
</head>

<body>
    <!--     <table>
        <tr>
            <td>
                <form method="get" action="filtered">
                    <input type="hidden" value={{username}} name="username" />
                    <button type="submit">Give frequencies</button>
                </form>
            </td>
            <td>
                <form method="get" action="index">
                    <button type="submit">Log Out</button>
                </form>
            </td>
        </tr>
    </table> -->
    <table>
        <caption class="table">Locations</caption>
        <tr class="title">
            <th>ID</th>
            <th>Battery</th>
            <th>Longitude</th>
            <th>Latitude</th>
            <th>City</th>
            <th>Road</th>
            <th>TST</th>
        </tr>
        {% for item in locations %}
        <!--         {% if username == item[0] or username == "admin" %} -->
        <tr>
            <td class="id">{{ item[0] }}</td>
            <td class="short">{{ item[1] }} %</td>
            <td class="long">{{ item[2] }}</td>
            <td class="long">{{ item[3] }}</td>
            <td class="long">{{ item[4] }}</td>
            <td class="long">{{ item[5] }}</td>
            <td class="date">{{ item[6] }}</td>
        </tr>
        <!--         {% endif %} -->
        {% endfor %}
    </table>
</body>

</html>
