{% extends 'base_page.html' %}

<!-- TITLE -->
{% block title %} Main {% endblock %} 

<!-- JS -->
{% block js %}
{% endblock %}

<!-- CSS -->
{% block css %}
<link href="{{ url_for('static', filename='css/main/index.css') }}" rel="stylesheet" />
{% endblock %}

<!-- BUTTON -->
{% block b1 %} 
<form action="{{url_for('prof.index')}}" method="GET">
      <button class="main_button">Profile</button>
</form>
{% endblock %}

{% block b2 %} 
<form action="{{url_for('map.index')}}" method="GET">
      <button class="main_button">Map</button>
</form>
{% endblock %}

{% block b3 %}
<form action="test" method="GET">
      <button class="main_button">Test</button>
</form>
{% endblock %}

<!-- Body -->
{% block body %}
<div class="content_main">
    <table class="table_main">
        <caption class="table_title shadow">Your Locations</caption>
        <tr class="shadow">
            <th>ID</th>
            <th>Battery</th>
            <th>Longitude</th>
            <th>Latitude</th>
            <th>City</th>
            <th>Road</th>
            <th>Date</th>
            <th>Time</th>
        </tr>
        {% for item in locations %}
        <tr>
            <td>{{ item[0] }}</td>
            <td>{{ item[1] }} %</td>
            <td>{{ item[2] }}</td>
            <td>{{ item[3] }}</td>
            <td>{{ item[4] }}</td>
            <td>{{ item[5] }}</td>
            <td>{{ item[6] }}</td>
            <td>{{ item[7] }}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}


