{% extends 'base_page.html' %}

<!-- TITLE -->
{% block title %} Main {% endblock %} 

<!-- JS -->
{% block js %}
{% endblock %}

<!-- CSS -->
{% block css %}
<link href="{{ url_for('static', filename='css/main/index.css') }}" rel="stylesheet" />
{% endblock %}

<!-- BUTTON -->
{% block b1 %} 
<a class="btn-3d yellow" href="{{url_for('prof.index')}}">Profile</a>
{% endblock %}

{% block b2 %} 
<a class="btn-3d green" href="{{url_for('map.index')}}">Map</a>
{% endblock %}

{% block b3 %}
<a class="btn-3d purple" href="{{url_for('average.index')}}">Average</a>
{% endblock %}

<!-- Body -->
{% block body %}
<div class="content_main">
    {% if advanced %}
    <a class="table_title shadow" href="{{url_for('main.advanced')}}" title="Click for less details">Your Locations</a>
    <table class="table_main">
        <tr class="shadow">
            <th>ID</th>
            <th>Longitude</th>
            <th>Latitude</th>
            <th>City</th>
            <th>Road</th>
            <th>Date</th>
            <th>Time</th>
        </tr>
        {% for item in locations %}
        <tr class="advanced">
            <td>{{ item[0] }}</td>
            <td>{{ item[1] }}</td>
            <td>{{ item[2] }}</td>
            <td>{{ item[3] }}</td>
            <td>{{ item[4] }}</td>
            <td>{{ item[5] }}</td>
            <td>{{ item[6] }}</td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <a class="table_title shadow" href="{{url_for('main.advanced')}}" title="Click for more details">Your Locations</a>
    <table class="table_main">
        <tr class="shadow">
            <th>ID</th>
            <th>City</th>
            <th>Road</th>
            <th>Date</th>
            <th>Time</th>
        </tr>
        {% for item in locations %}
        <tr class="basic">
            <td>{{ item[0] }}</td>
            <td>{{ item[3] }}</td>
            <td>{{ item[4] }}</td>
            <td>{{ item[5] }}</td>
            <td>{{ item[6] }}</td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
</div>
{% endblock %}


