{% extends 'base.html' %}

<!-- TITLE -->
{% block title %} Create Account {% endblock %}

<!-- JS -->
{% block basejs %}
{% endblock %}

<!-- CSS -->
{% block basecss %}
<link href="{{ url_for('static', filename='css/login/create.css') }}" rel="stylesheet" />
{% endblock %}

<!-- BODY -->
{% block basebody %}
<div class="container">
    <div class="container_box">
        <div class="title">
            <p class="title_text shadow">Trackmaster</p>
        </div>
        <div class="create">
            <p class="create_text">Create Account</p>
        </div>
        <div class="form">
            <form action="{{url_for('login.create_account')}}" method="POST">
                <div class="form_inside">
                    <div class="username">
                        <p class="text">ID:</p><br>
                        <input type="text" name="username">
                        {% if status == 'no_id' %}
                        <p class="error_text">Wrong ID</p>
                        {% elif status == 'empty_id' %}
                        <p class="error_text">Empty ID</p>
                        {% elif status == 'user_exists' %}
                        <p class="error_text">User exists</p>
                        {% endif %}
                    </div>
                    <div class="realname">
                        <p class="text">Name:</p><br>
                        <input type="text" name="realname">
                        {% if status == 'empty_name' %}
                        <p class="error_text">Empty Name</p>
                        {% endif %}
                    </div>
                    <div class="dob">
                        <p class="text">Birthday:</p><br>
                        <div>
                            <select name="day" id="day">
                                <option value="0" selected>Day</option>
                                {% for day in time[0] %}
                                <option value="{{day}}">{{day}}</option>
                                {% endfor %}
                            </select>
                            <select name="month" id="month">
                                <option value="0" selected>Month</option>
                                {% for month in time[1] %}
                                <option value="{{month.1}}">{{month.0}}</option>
                                {% endfor %}
                            </select>
                            <select name="year" id="year">
                                <option value="0" selected>Year</option>
                                {% for year in time[2] %}
                                <option value="{{year}}">{{year}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        {% if status == 'wrong_date' %}
                        <p class="error_text">Wrong Date</p>
                        {% elif status == 'empty_bday' %}
                        <p class="error_text">Empty Date</p>
                        {% endif %}
                    </div>
                    <div class="colorr">
                        <p class="text">Favourite Color:</p><br>
                        <input type="color" name="color">
                    </div>
                    <div class="weight">
                        <p class="text">Weight (kg):</p><br>
                        <input type="text" name="weight">
                        {% if status == 'empty_weight' %}
                        <p class="error_text">Empty Weight</p>
                        {% endif %}
                    </div>
                    <div class="password">
                        <p class="text">Password:</p><br>
                        <input type="password" name="password">
                        {% if status == 'empty_pass' %}
                        <p class="error_text">Empty Password</p>
                        {% endif %}
                    </div>
                    <div class="r_password">
                        <input type="password" name="r_password">
                        {% if status == 'empty_rpass' %}
                        <p class="error_text">Empty Repeat Password</p>
                        {% elif status == 'pass_no_match' %}
                        <p class="error_text">Passwords don't match</p>
                        {% endif %}
                    </div>
                    <div class="create_button_area">
                        <button class="btn-3d blue" type="submit">Create Account</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}