{% extends 'base_page.html' %}

{% block title %} Map {% endblock %} 

<!-- JS -->
{% block js %}

<script type="text/javascript" src="https://openlayers.org/en/v4.6.5/build/ol.js"></script>

<script type="text/javascript" src="{{ url_for('static', filename='js/map/index.js') }}"></script> 
<script type="text/javascript" src="{{ url_for('static', filename='js/math.js') }}"></script> 

{% endblock %}

<!-- CSS -->
{% block css %}

<link rel="stylesheet" type="text/css" href="https://openlayers.org/en/v4.6.5/css/ol.css"/>

<link rel="stylesheet" href="{{ url_for('static', filename='css/map/index.css') }}"/>

{% endblock %}

<!-- Buttons -->
{% block b1 %} 
<a class="btn-3d yellow" href="{{url_for('main.index')}}">Home</a>
{% endblock %}

{% block b2 %} 
<a class="btn-3d green" href="{{url_for('prof.index')}}">Profile</a>
{% endblock %}

{% block b3 %}
<a class="btn-3d purple" href="{{url_for('average.index')}}">Average</a>
{% endblock %}


<!-- Body -->
{% block body %}
<div class="content_main">
    <div class="dates">
        <div class="selection">
            <select name="date" id="date">
                <option value="all" selected>All</option>
                {% for date in dates %}
                    <option value="{{date}}">{{date}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="bm_1">
            <button class="btn-3d blue" onclick="get_map_for_selection()">Go</button>
        </div>
    </div>
    <div class="map" id="map">
        <script>
            initialize_map({{ locations | tojson }}, {{ weight }}, '{{ color }}');
        </script>
    </div>
    
</div>
{% endblock %}


