.content_main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    grid-template-areas:
        'dates'
        'map';
}
.map {
    grid-area: map;
}
.dates {
    grid-area: dates;
    display: grid;
    grid-template-columns: 3fr 1fr 2fr;
    grid-template-rows: 1fr;
    grid-template-areas:
        'selection . bm_1';
    padding-bottom: 30px;
}
.bm_1 {
    grid-area: bm_1;
}
.selection {
    grid-area: selection;
    display: grid;
    align-items: center;
}
.selection select {
    font-size: 2vw;
}